@import 'partials/base';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/animations';
@import 'partials/rocket';
@import 'partials/rocket-buttons';
@import 'partials/clouds';
@import 'partials/footer';
   

   
   
   /* ================================
      Body Parts
      ================================ */
   .post-template-rocket .title {
     padding: 50px 0;
     text-align: center;
   }

   .post-template-rocket .logo {
     padding-top: 60px;
     text-align: center;
     width: calc(100% - 40px);
     float: left;
     margin-left: 20px;
   }
   @media (min-width: 760px) {
     .post-template-rocket .logo {
       padding-top: 160px;
       text-align: right;
     }
   }
   @media (min-width: 1200px) {
     .post-template-rocket .logo {
       width: calc(87.5% - 37.5px);
       float: left;
       margin-left: 20px;
     }
   }
   .post-template-rocket .logo img {
     max-width: 300px;
     width: 100%;
   }
   @media (min-width: 920px) {
     .post-template-rocket .logo img {
       max-width: 400px;
     }
   }
   @media (min-width: 760px) {
     .post-template-rocket .logo-left {
       width: calc(50% - 30px);
       float: left;
       margin-left: 20px;
     }
   }
   .post-template-rocket .logo-right {
     padding-top: 15px;
   }
   @media (min-width: 760px) {
     .post-template-rocket .logo-right {
       width: calc(50% - 30px);
       float: left;
       margin-left: 20px;
       padding-top: 0;
     }
   }
   .post-template-rocket .copyright {
     font-size: 12px;
     padding-top: 30px;
     text-align: center;
     width: calc(100% - 40px);
     float: left;
     margin-left: 20px;
   }
   @media (min-width: 760px) {
     .post-template-rocket .copyright {
       text-align: right;
     }
   }
   @media (min-width: 1200px) {
     .post-template-rocket .copyright {
       width: calc(87.5% - 37.5px);
       float: left;
       margin-left: 20px;
     }
   }
   
   