/* ================================
   Normalize
  ================================ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

[hidden] {
  display: none;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

/* ================================
  Base (Base)
================================ */
.skipnav {
  background: transparent;
  color: #4b484b;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.skipnav:focus {
  background: #ffffff;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

html {
  font-size: 100%;
  color: #4b484b;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(to bottom, #75c1ec 0%, #ffffff 100%);
  min-height: 100%;
  min-width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #4b484b;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1;
  line-height: 24px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: outside;
  margin-bottom: 1.635em;
  margin-left: 1.5em;
}

li ul,
li ol {
  margin: 0 1.625em;
}

p {
  margin-bottom: 1.5rem;
}

/* ================================
  Reuseable Classes
  ================================ */
.screen-reader-text,
.meta-nav {
  position: absolute;
  left: -99999em;
}

.hidden {
  display: none;
}

.paused {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.fade-cloud {
  -webkit-transition: opacity 1.3s ease-in;
  transition: opacity 1.3s ease-in;
  opacity: 0.1 !important;
}

/* ================================
  Typography
================================ */
h1,
.h1 {
  margin-bottom: 0;
  line-height: 100%;
  text-transform: uppercase;
}
.title h1,
.title .h1 {
  color: #c4122f;
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
  font-size: 26vw;
  text-shadow: -2px -2px 0 #75c1ec, 2px -2px 0 #75c1ec, -2px 2px 0 #75c1ec, 2px 2px 0 #75c1ec;
}
@media (min-width: 57.5rem) {
  .title h1,
  .title .h1 {
    font-size: 28vw;
  }
}
@media (min-width: 75rem) {
  .title h1,
  .title .h1 {
    font-size: 18.75rem;
    text-shadow: -3px -3px 0 #75c1ec, 3px -3px 0 #75c1ec, -3px 3px 0 #75c1ec, 3px 3px 0 #75c1ec;
  }
}

h2,
.h2 {
  color: #4b484b;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.title h2,
.title .h2 {
  font-size: 4vw;
  line-height: 100%;
}
@media (min-width: 30rem) {
  .title h2,
  .title .h2 {
    font-size: 4.25vw;
  }
}
@media (min-width: 47.5rem) {
  .title h2,
  .title .h2 {
    font-size: 4.3vw;
  }
}
@media (min-width: 75rem) {
  .title h2,
  .title .h2 {
    font-size: 2.813rem;
  }
}

h3,
.h3 {
  color: #c4122f;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: "Open Sans Condensed", "Arial Narrow", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 47.5rem) {
  h3,
  .h3 {
    font-size: 2.25rem;
  }
}
h4,
.h4 {
  color: #c4122f;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
}

@media (min-width: 47.5rem) {
  h4,
  .h4 {
    font-size: 1.125rem;
  }
}
h5,
.h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.21428571;
}

h6,
.h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.813rem;
  line-height: 1.53846154;
}

/* ================================
  Layout
  ================================ */
body {
  min-width: 15.625rem;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #75c1ec 0%, #ffffff 100%);
}

.container,
.contained {
  max-width: 100rem;
  padding: 0 1em;
  margin: 0 auto;
  display: block;
}
.container:before,
.contained:before {
  content: "";
  display: table;
}
.container:after,
.contained:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}
@media (min-width: 47.5rem) {
  .container,
  .contained {
    width: 95%;
    padding: 0;
  }
}
@media (min-width: 75rem) {
  .container,
  .contained {
    width: 90%;
  }
}

/* ================================
    Animations
================================ */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -4px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: #ffffff;
    transform: scale(1);
  }
}
@keyframes fadeSmoke {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* ================================
   Rocket
================================ */
.rocket {
  margin: 15% auto 0 auto;
  width: 70%;
  transition: width 0.3s ease-in;
}
.rocket:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
@media (min-width: 57.5rem) {
  .rocket {
    width: 40%;
  }
}

.rocket-image a {
  display: block;
  position: relative;
}
.rocket-image a #smoke {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: opacity 1.3s ease-in;
}
.rocket-image a #smoke.visible {
  transition: opacity 1.3s ease-in;
  opacity: 1;
  animation: fadeSmoke 2.2s infinite;
  animation-delay: 1.3s;
}

.rocket-part {
  transition: filter 0.3s linear;
}
.rocket-part:hover {
  filter: brightness(85%);
}
.rocket-part.propulsion h4 {
  margin-top: 1.25rem;
}

.rocket-text {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: max-height 0.4s ease-in-out;
}
.rocket-text.is-expanded {
  max-height: 1000px;
}
@media (min-width: 47.5rem) {
  .rocket-text.is-expanded {
    max-height: 500px;
  }
}
.rocket-text p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1.7em;
  margin-bottom: 0.938rem;
}
.rocket-text p:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 47.5rem) {
  .rocket-text p {
    font-size: 1em;
  }
}

.rocket-text-inner {
  padding: 20px 0;
}
@media (min-width: 47.5rem) {
  .rocket-text-inner {
    padding: 36px 0;
  }
}

/* ================================
   Rocket Buttons
================================ */
.rocket-buttons-inner {
  padding: 3.75rem 0;
}
@media (min-width: 30rem) {
  .rocket-buttons-inner {
    width: calc(100% - 2.5rem);
    float: left;
    margin-left: 1.25rem;
  }
}
@media (min-width: 57.5rem) {
  .rocket-buttons-inner {
    width: calc(75% - 2.188rem);
    margin-left: calc(12.5% - 1.406rem + 2.5rem);
  }
}
@media (min-width: 75rem) {
  .rocket-buttons-inner {
    width: calc(58.33333% - 1.979rem);
    margin-left: calc(20.83333% - 1.51rem + 2.5rem);
  }
}

.rocket-buttons ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}
.rocket-buttons li a {
  background: #c4122f;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: inset 0 10px 10px rgba(255, 255, 255, 0.5), inset 0 -8px 13px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: block;
  height: 3.125rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  width: 3.125rem;
  transition: background 0.2s linear;
}
.rocket-buttons li a span {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rocket-buttons li a span.light {
  font-weight: 300;
}
.rocket-buttons li a span.normal {
  font-weight: 400;
}
.rocket-buttons li a span.semibold {
  font-weight: 600;
}
.rocket-buttons li a span.bold {
  font-weight: 700;
}
.rocket-buttons li a span.extrabold {
  font-weight: 800;
}
.rocket-buttons li a span.text {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 0.875rem;
}
@media (min-width: 30rem) {
  .rocket-buttons li a span.text {
    font-size: 1.125rem;
    line-height: 100%;
  }
}
@media (min-width: 57.5rem) {
  .rocket-buttons li a span.text {
    font-size: 1.375rem;
  }
}
.rocket-buttons li a:visited {
  color: #ffffff;
}
.rocket-buttons li a:hover, .rocket-buttons li a.visited, .rocket-buttons li a.active {
  background: #ffffff;
  box-shadow: none;
  color: #c4122f;
}
.rocket-buttons li a:hover:after, .rocket-buttons li a.active:after {
  border: 2px solid #c4122f;
}
.rocket-buttons li a:after {
  border: 2px solid #ffffff;
  box-shadow: 0 3px 8px #4b484b;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (min-width: 30rem) {
  .rocket-buttons li a {
    font-size: 1.875rem;
    height: 4.375rem;
    width: 4.375rem;
  }
}
@media (min-width: 57.5rem) {
  .rocket-buttons li a {
    font-size: 3.125rem;
    height: 5.375rem;
    width: 5.375rem;
  }
}

/* ================================
  Clouds
  ================================ */
.clouds {
  position: absolute;
  width: 100%;
}

.cloud {
  pointer-events: none;
  position: absolute;
  fill: #ffffff;
  transition: opacity 1.3s ease-in;
}

.cloud1 {
  width: 6.875rem;
  top: 6.25rem;
  z-index: 100;
  opacity: 0.75;
  right: 10%;
}
@media (min-width: 30rem) {
  .cloud1 {
    right: 0;
    top: 12.5rem;
    width: 13.125rem;
  }
}
@media (min-width: 47.5rem) {
  .cloud1 {
    right: 10%;
    top: 25rem;
    width: 25vw;
  }
}

.cloud2 {
  top: 18.75rem;
  z-index: 100;
  opacity: 0.7;
  left: 5%;
  width: 7.5rem;
}
@media (min-width: 30rem) {
  .cloud2 {
    left: 10%;
    width: 10rem;
  }
}
@media (min-width: 47.5rem) {
  .cloud2 {
    top: 50rem;
    width: 28vw;
  }
}

/* ================================
   Footer
  ================================ */
.title {
  padding: 3.125rem 0;
  text-align: center;
}

.logo {
  padding-top: 3.75rem;
  text-align: center;
  width: calc(100% - 2.5rem);
  float: left;
  margin-left: 1.25rem;
}
@media (min-width: 47.5rem) {
  .logo {
    padding-top: 10rem;
    text-align: right;
  }
}
@media (min-width: 75rem) {
  .logo {
    width: calc(87.5% - 2.344rem);
  }
}
.logo img {
  max-width: 18.75rem;
  width: 100%;
}
@media (min-width: 57.5rem) {
  .logo img {
    max-width: 25rem;
  }
}

@media (min-width: 47.5rem) {
  .logo-left {
    width: calc(50% - 31.875rem);
    float: left;
    margin-left: 20px;
  }
}

.logo-right {
  padding-top: 0.938rem;
}
@media (min-width: 47.5rem) {
  .logo-right {
    width: calc(50% - 31.875rem);
    float: left;
    margin-left: 1.25rem;
    padding-top: 0;
  }
}

.copyright {
  font-size: 0.75rem;
  padding-top: 1.875rem;
  text-align: center;
  width: calc(100% - 2.5rem);
  float: left;
  margin-left: 1.25rem;
}
@media (min-width: 47.5rem) {
  .copyright {
    text-align: right;
  }
}
@media (min-width: 75rem) {
  .copyright {
    width: calc(87.5% - 2.344rem);
    float: left;
    margin-left: 1.25rem;
  }
}

/* ================================
   Body Parts
   ================================ */
.post-template-rocket .title {
  padding: 50px 0;
  text-align: center;
}

.post-template-rocket .logo {
  padding-top: 60px;
  text-align: center;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}

@media (min-width: 760px) {
  .post-template-rocket .logo {
    padding-top: 160px;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .post-template-rocket .logo {
    width: calc(87.5% - 37.5px);
    float: left;
    margin-left: 20px;
  }
}
.post-template-rocket .logo img {
  max-width: 300px;
  width: 100%;
}

@media (min-width: 920px) {
  .post-template-rocket .logo img {
    max-width: 400px;
  }
}
@media (min-width: 760px) {
  .post-template-rocket .logo-left {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}
.post-template-rocket .logo-right {
  padding-top: 15px;
}

@media (min-width: 760px) {
  .post-template-rocket .logo-right {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    padding-top: 0;
  }
}
.post-template-rocket .copyright {
  font-size: 12px;
  padding-top: 30px;
  text-align: center;
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}

@media (min-width: 760px) {
  .post-template-rocket .copyright {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  .post-template-rocket .copyright {
    width: calc(87.5% - 37.5px);
    float: left;
    margin-left: 20px;
  }
}
