//Colors

$blue:  #75c1ec;
$gray:  #4b484b;
$red:   #c4122f;
$white: #ffffff;

//Typography

$sans-serif: 'Open Sans', Arial, sans-serif;
$sans-serif-condensed: 'Open Sans Condensed', 'Arial Narrow', sans-serif;

$thin:      100;
$x-light:   200;
$light:     300;
$normal:    400;
$medium:    500;
$semi-bold: 600;
$bold:      700;
$x-bold:    800;
$thick:     900;

// Breakpoints
$bp-mobile:  30rem;
$bp-tablet:  48rem;
$bp-small:   64rem;
$bp-desktop: 75rem;
$bp-large:   118.75rem;
